{% extends "base.html" %}

{% block content %}
<div align="center">
    <h3>Books Library</h3>
</div>
<div class="container" align="center">
    <form method="POST" action="">
        {% csrf_token %}
        <table align="center">
            {% for insert_form in form %}
                <tr>
                    <th class="insert_form_fields">
                        <h5>{{ insert_form }}</h5>
                    </th>
                </tr>
            {% endfor %}
                <td>
                    <input class="btn btn-primary"
                        style='float: right;'
                        type="submit"
                        value="Search" />
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}