{% extends "index.html" %}
{% load staticfiles %}


{% block title %}
    <title>Search result</title>
{% endblock %}

{% block loadjs %}
<script type="text/javascript">
    $(document).ready(function () {
        function refresh() {
            var dots = $('.dots').text()
            if (dots.includes(".")){
                if(dots.length < 3){
                    $('.dots').text(dots + '.');
                } else {
                    $('.dots').text('.');
                };
            } else {
                $('.dots').text('.')
            }
            setTimeout(refresh, 1000);
        }

        $(function(){
            refresh();
        });

    });
</script>
{% endblock%}


{% block content %}
    {% if search_values %}
        <div class='content' style='width: 80%; margin: auto;'>
            <h4 style='margin-left: 45%;'>Searching<span style='width:20px;' class='dots'>...</span></h4>
            <h5 align='center'>When the search is over we will send message(to your email - <b>{{ search_values.email }}</b>) with results</h5>
        </div>
    {% else %}
        <div class='content' style='width: 80%; margin: auto;'>
            <h4 style='margin-left: 45%;'>Searching<span style='width:20px;' class='dots'>...</span></h4>
        </div>
    {% endif %}
    <div class="search-result" style='width: 80%; margin: auto;'>
        {% if result %}
            {% for item in result %}
                page:{{ forloop.counter }}
                <br>
                {{ item }}
                <br>
                <br>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}